<div class='form-url'>
  <h1 class='form-h'>
    HARNESS EVERY CLICK, TAP AND SWIPE.
  </h1>
  <h2 class='form-h'>
    Brand, track and optimize every touchpoint with Ziggie, the world's leading link management platform. 
  </h2>
  <%= form_for(url) do |f| %>
    <div class='url-short-form'>
      <% if url.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

          <ul>
          <% url.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field url">
        <%= f.text_field :url, class: "url-text-field", placeholder:capitalize_all('shorten your link')%>
      <div class="actions url">
        <%= f.submit "Shorten Url", class: "btn btn-primary shorten-button" %>
      </div>
      </div>
      <div class='test'>

      </div>

    </div> 
  <% end %>
</div>