<h1>Index of Short Urls</h1>

<table>
  <thead>
    <tr>
      <th>url</th>
      <th>Slug</th>
      <th>Visits</th>
      <th>Snapshot</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div></div>
  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td data-turbolinks="false"><%= link_to url.url, url.slug %></td>
        <td><%= url.slug %></td>
        <td><%= url.visits %></td>
        <td><%= url.snapshot %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
