<p id="notice"><%= notice %></p>
<div data-turbolinks="false">
  <p data-turbolinks="false">
    <strong>Url:</strong>
    <%= link_to @url.url, @url.slug %>
  </p>
</div>
<p>
  <strong>Slug:</strong>
  <%= @url.slug %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @url.visits %>
</p>
<p>
  <strong>Snapshot:</strong>
  <%= @url.snapshot %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
